{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>WikiProfes</title>
    <!-- Favicon icon -->
     <link rel="icon" type="image/png" sizes="16x16" href=" {% static 'images/wp.jpg' %} "> 
    <!-- Custom Stylesheet -->
    {% comment %} <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="css/normalize.css" as="style">
    <link rel="stylesheet" href="css/normalize.css" as="style">
    
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"  crossorigin="crossorigin" as="font">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="preload" href="css/style.css" as="style"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="css/style.css"> {% endcomment %}
    <link href=" {% static 'css/style.css' %} " rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="">
                   {% comment "" %}
                   <h1 class="logo__nombre">Wiki<span class="logo__bold">Profes</span> </h1>
                   {% endcomment %} 
                    <b class="logo-abbr"> <h3 class="logo__nombre">WP<span class="logo__bold"></span> </h3></b>  
                     <span class="logo-compact"><img src="{% static './images/wikip-logo-compact.jpg' %} " alt=""></span> 
                    <span class="brand-title">
                        <h1 class="logo__nombre">Wiki<span class="logo__bold">Profes</span> </h1>
                    </span> 
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--
            
            
            
            -->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down   d-md-none">
							<form action="#">
								<input type="text" class="form-control" placeholder="Search">
							</form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Inicio</li>
                        {% block classI %}
                            <li>
                                <a href="inicio" aria-expanded="false">
                                    <i class="ti-home menu-icon"></i><span class="nav-text">Inicio</span>
                                </a>
                            </li>
                        {% endblock classI %}
                        {% block classB %}
                            <li>
                                <a  href="buscar" aria-expanded="false">
                                    <i class="mdi mdi-magnify menu-icon"></i><span class="nav-text">Buscar</span>
                                </a>
                            </li>
                        {% endblock classB %}
                        {% block classR %}
                            <li>
                                <a  href="registrarse" aria-expanded="false">
                                    <i class="icon-note menu-icon"></i><span class="nav-text">Registrarse</span>
                                </a>
                            </li>
                        {% endblock classR %}
                        {% block classIS %}
                            <li>
                                <a  href="iniciarsesion" aria-expanded="false">
                                    <i class="icon-user menu-icon"></i><span class="nav-text">Iniciar Sesion</span>
                                </a>
                            </li>
                        {% endblock classIS %}
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            {% block content %}
            
            {% endblock %}
            <!-- row -->

            <div class="container-fluid">

            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src=" {% static 'plugins/common/common.min.js' %} "></script>
    <script src=" {% static 'js/custom.min.js' %} "></script>
    <script src=" {% static 'js/settings.js' %} "></script>
    <script src=" {% static 'js/gleek.js' %} "></script>
    <script src=" {% static 'js/styleSwitcher.js' %} "></script>

</body>

</html>