{% extends 'base.html' %}
{% block classI %}
    <li>
        <a class="active" href="{% url 'inicio'%}" aria-expanded="false">
            <i class="ti-home menu-icon"></i><span class="nav-text">Inicio</span>
        </a>
    </li>
{% endblock classI %}
{% block content %}
    {% comment %} {% if user.is_superuser %} {% endcomment %}
<div class="contenedor card">
    <div class="card-body">
        <h2>Profesores</h2>
        <hr>
        <table class="table table-striped table-hover table-responsive-sm">
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Codigo</th>
                <th>Materias</th>  
                
            </tr>
    
            {% for p in profesor %}
                
                    <tr>
                        
                        <td>
                            <a style="color: #6E41E2; font-weight: bold;" href= "{% url 'profesor_profile' p.idProfesor %}"> {{p.nombre | title}}</a> 
                        </td> 
                        <td>{{p.correo | title}}</td>
                        <td>{{p.codigo | title}}</td>
                    
                        {%for m in p.materia.all %}
                            <td>{{m | title}}</td>
                        {%endfor%}
                        
                </tr>
                
            {% endfor%}
        </table>
        <hr>
       </div>         
</div>
    {% comment %} {% else %}
    {% endif %} {% endcomment %}
{% endblock  %}
   