{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>WikiProfes</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href=" {% static 'images/wp.jpg' %} ">
    <!-- Custom Stylesheet -->
    <link href=" {% static 'css/style.css' %} " rel="stylesheet">

</head>

<body class="h-100">
    
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form  mb-3" style="background-color: rgb(182, 149, 192);" >
                            <div class="card-body pt-5">
                                <div class="text-center"> <h2>WikiProfes</h2> </div>
                                <br>
                                <a class="text-center" href="{% url 'register'%}"> <h4 >Has cerrado sesión</h4></a>
                                <br>
                                
                                    <div class="border-top pt-4">
                                        <small class="text-muted">
                                            <a href="{% url 'login' %}" class="btn login-form__btn submit">Iniciar sesión</a>  
                                        </small>
                                    </div>
                                    <div class="border-top pt-2">
                                        <a href="{% url 'inicio' %}" class="btn login-form__btn submit">Regresar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    



<script src=" {% static 'plugins/common/common.min.js' %} "></script>
    <script src=" {% static 'js/custom.min.js' %} "></script>
    <script src=" {% static 'js/settings.js' %} "></script>
    <script src=" {% static 'js/gleek.js' %} "></script>
    <script src=" {% static 'js/styleSwitcher.js' %} "></script>
</body>
</html>
