{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>WikiProfes</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href=" {% static 'images/wp.jpg' %} ">
    <!-- Custom Stylesheet -->
    <link href=" {% static 'css/style.css' %} " rel="stylesheet">

</head>

<body class="h-100">
    
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    



    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <div class="text-center"> <h2>WikiProfes</h2> </div>
                                <br>
                                <h4 class="text-center">Recuperar contraseña</h4></a>
                                <br>
                                {%if messages %}
                                    {%for message in messages%}
                                        <div class="alert alert-{{message.tags}}">
                                            {{message}}
                                        </div>
                                    {%endfor%}
                                {%endif%}
                                    <form  class="mt-5 mb-5 login-input" method="post">
                                        {% csrf_token %}
                                        <fieldset class="form-group">
                                            
                                            {{ form.as_p}}
                                        </fieldset>
                                        <div class="form-group">
                                            <button class="btn login-form__btn submit w-100" type="submit">Solicitar recuperacion de contraseña</button>
                                        </div>
                                    </form>

                                    <div class="border-top pt-4">
                                        <small class="text-muted">
                                           ¿Aún no estás registrado? <a class="ml-2" href="{%url 'register'%}">Quiero registrarme</a>  
                                        </small>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        
    <!--**********************************
    Scripts
    ***********************************-->
    <script src=" {% static 'plugins/common/common.min.js' %} "></script>
    <script src=" {% static 'js/custom.min.js' %} "></script>
    <script src=" {% static 'js/settings.js' %} "></script>
    <script src=" {% static 'js/gleek.js' %} "></script>
    <script src=" {% static 'js/styleSwitcher.js' %} "></script>
</body>
</html>
