{% extends 'base.html' %}
{% block classI %}
    <li>
        <a class="active" href="{% url 'inicio'%}" aria-expanded="false">
            <i class="icon-menu menu-icon"></i><span class="nav-text">Inicio</span>
        </a>
    </li>
{% endblock classI %}
{% block content %}
    <div class="content-section">
        <div class = "media">
            <img class="rounded-circle account-img" style="max-height:250px; max-width:250px; overflow: hidden" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
    </div>
{% endblock  %}
   