{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block classI %}
    <li>
        <a href="{% url 'inicio'%}" aria-expanded="false">
            <i class="ti-home menu-icon"></i><span class="nav-text">Inicio</span>
        </a>
    </li>
{% endblock classI %}
{% block content %}
    <div class="barra contenedor card">
        <div class = "contenedor media">
            <img class="rounded-circle account-img" style="max-height:120px; max-width:120px;">
            <div class="media-body">
                <h3 class="account-heading">{{ profesor.nombre }}</h3>
                <p class="text-secondary">{{ profesor.correo }}</p>
                {%for m in profesor.materia.all %}
                    <p>{{m}}</p>
                {%endfor%}
                
                
            </div>
        </div>

        <form  class="contenedor mt-5 mb-5 login-input" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class = "border-bottom mb-4">Información del Profesor</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>

        </form>

    </div>

    

{% endblock  %}
   