{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block classI %}
    <li>
        <a href="{% url 'inicio'%}" aria-expanded="false">
            <i class="ti-home menu-icon"></i><span class="nav-text">Inicio</span>
        </a>
    </li>
{% endblock classI %}

{% block content %}
    <div class="barra contenedor card">
        <form  class="contenedor mt-5 mb-5 login-input" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class = "border-bottom mb-4">Información del Profesor</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="contenedor media">
                <img class="rounded-circle account-img" style="max-height:120px; max-width:120px;">
                <div class="media-body">
                    <h3 class="account-heading">{{ profesor.nombre }}</h3>
                    <p class="text-secondary">{{ profesor.correo }}</p>
                    {%for materia in profesor.materia.all %}
                        <p>{{materia}}</p>
                    {%endfor%}
                    
                    {% if user.is_superuser %}
                        <a href="{% url 'update_profesor' profesor.idProfesor %}" class="btn login-form__btn submit">Editar</a>
                    {% endif %}
                    
                </div>
                
            </div>

        </form>

    </div>

    <div class="barra contenedor card">
        <form  action="/add_comment/" class="contenedor mt-5 mb-5 login-input" method="GET">
            {% comment "" %}
            
            {% endcomment %}
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class = "border-bottom mb-4">Comentarios</legend>
                
            </fieldset>
            <div class="contenedor media">
                <img class="rounded-circle account-img" style="max-height:120px; max-width:120px;">
                <div class="media-body">
                    
                    {% if not profesor.comentarios.all %}
                        No hay comentarios aún...
                        <br> 
                    </div>
                    
                    {% else %}
                        {% for comment in profesor.comentarios.all %}
                            <strong>{{comment.fecha}}</strong>
                            <br>
                            {{comment.comentario}}
                            <hr>
                            <br>
                            
                        {% endfor %}
                        
                    {% endif %}
                    <br>
                    <br>
                    {% if user.is_authenticated %}       
                        {% comment "" %}
                        <a style="font-size: 18px; font-weight: bold; color: #6E41E2;" href= "{% url "add_comment" profesor.idProfesor comentario %}">
                        
                        </a>
                        {% endcomment %}
                            
                            <br>
                            <input 
                                style="margin: 10px; border-radius: 12px; border-color: #6E41E2;" 
                                type="text" 
                                name="comment"
                                size="20"
                                placeholder="Escribe tu comentario"
                            ><button class="btn btn-outline-secondary" style="margin-left: 0.5rem; border-radius: 10px;" type="submit"  >agregar comentario</button>
                        <br>
                        <br>
                    {% endif %}
                </div>
            </div>

        </form>

    </div>    

{% endblock content%}
   