{% extends 'base.html' %}
{% block classI %}
    <li>
        <a href="{% url 'inicio'%}" aria-expanded="false">
            <i class="ti-home menu-icon"></i><span class="nav-text">Inicio</span>
        </a>
    </li>
{% endblock classI %}
{% block content %}
    <div class="barra contenedor card">
        <center>
            {% if searched %}
                <h1>
                    Resultados encontrados
                </h1>
                <br>
            {% else %}
                <h1>Busca un profesor</h1>
            {% endif %}
        </center>

    </div>
    <div class="barra contenedor card">
        {% if searched %}
            {% for p in profesor %}
                <br>   
                <div class="contenedor">
                    <a style="font-size: 22px; font-weight: bold;" href= "{% url 'profesor_profile' p.idProfesor %}" >Profesor: {{p}} </a>
                </div> 
                <br>   
            
            {% endfor %}
        {% endif %}
    </div>

{% endblock  %}
   