{% extends 'base.html' %}
{% block classI %}
    <li>
        <a href="{% url 'inicio'%}" aria-expanded="false">
            <i class="ti-home menu-icon"></i><span class="nav-text">Inicio</span>
        </a>
    </li>
{% endblock classI %}
{% block content %}
    <div class="barra contenedor card">
        <center>
            {% if searched %}
                <h1>
                    Hola perris aqui nomas probando la busqueda {{searched}}
                </h1>
                <br>
                {% for p in profesor %}
                    <a style="font-size: 25px;" href= "{% url 'profesor_profile' p.idProfesor %}" > {{p}} </a>
                    
                {% endfor %}
            {% else %}
                <h1>Nada en el formulario</h1>
            {% endif %}
        </center>

    </div>


{% endblock  %}
   