{% extends 'base.html' %}
{% block classI %}
    <li>
        <a class="active" href="{% url 'inicio'%}" aria-expanded="false">
            <i class="ti-home menu-icon"></i><span class="nav-text">Inicio</span>
        </a>
    </li>
{% endblock classI %}
{% block content %}
    <center>
        {% if searched %}
            <h1>
                Hola perris aqui nomas probando la busqueda {{searched}}
            </h1>
            <br>
            {% for p in profesor %}
                <a href="#"> {{p}} </a> <!--AQUI SE TIENE QUE HACER REFERENCIA A LA URL QUE MUESTRE LOS PERFILES DE LOS PROFESORES-->
            {% endfor %}
        {% else %}
            <h1>Nada en el formulario</h1>
        {% endif %}
    </center>
{% endblock  %}
   